In [2]:
pip install opendatasets

Collecting opendatasets
  Downloading opendatasets-0.1.22-py3-none-any.whl (15 kB)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from opendatasets) (4.66.2)
Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (from opendatasets) (1.6.12)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from opendatasets) (8.1.7)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2024.2.2)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2.31.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (8.0.4)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2.0.7)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (6.1.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->kaggle->opendatasets) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle->opendatasets) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle->opendatasets) (3.7)
Installing collected packages: opendatasets
Successfully installed opendatasets-0.1.22

In [3]:
import pandas as pd
import opendatasets as od
import numpy as np

In [4]:
od.download("https://www.kaggle.com/datasets/sankha1998/student-semester-result")

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: {"username":"manasmenge","key":"bdb10b1e29a571aa2ef168a3e469d6d6"}
Your Kaggle Key: ··········
Dataset URL: https://www.kaggle.com/datasets/sankha1998/student-semester-result
Downloading student-semester-result.zip to ./student-semester-result

100%|██████████| 2.41k/2.41k [00:00<00:00, 919kB/s]

In [7]:
df=pd.read_csv("/content/student-semester-result/data.csv")

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   1st           176 non-null    float64
 1   2nd           174 non-null    float64
 2   3rd           176 non-null    float64
 3   4th           173 non-null    float64
 4   5th           172 non-null    float64
 5   College Code  178 non-null    int64
 6   Gender        177 non-null    object
 7   Roll          132 non-null    float64
 8   Roll no.      46 non-null     float64
 9   Subject Code  178 non-null    int64
dtypes: float64(7), int64(2), object(1)
memory usage: 14.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   1st           176 non-null    float64
 1   2nd           174 non-null    float64
 2   3rd           176 non-null    float64
 3   4th           173 non-null    float64
 4   5th           172 non-null    float64
 5   College Code  178 non-null    int64
 6   Gender        177 non-null    object
 7   Roll          132 non-null    float64
 8   Roll no.      46 non-null     float64
 9   Subject Code  178 non-null    int64
dtypes: float64(7), int64(2), object(1)
memory usage: 14.0+ KB

In [9]:
df.head()

,1st,2nd,3rd,4th,5th,College Code,Gender,Roll,Roll no.,Subject Code
0,8.11,7.68,7.11,7.43,8.18,115,Female,NaN,17020.0,16
1,6.48,5.90,4.15,4.29,4.96,115,Male,NaN,17021.0,16
2,8.41,8.24,7.52,8.25,7.75,115,Female,NaN,17022.0,16
3,7.33,6.83,6.33,6.79,6.89,115,Male,NaN,17023.0,16
4,7.89,7.34,7.22,7.32,7.46,115,Male,NaN,17024.0,16

In [10]:
df.tail()

,1st,2nd,3rd,4th,5th,College Code,Gender,Roll,Roll no.,Subject Code
173,7.48,7.55,7.67,7.39,8.65,241,F,17048.0,NaN,28
174,7.30,6.41,6.59,7.11,7.38,241,M,17049.0,NaN,28
175,6.30,6.28,5.89,5.71,6.50,241,M,17050.0,NaN,28
176,7.04,7.10,6.81,7.00,6.92,241,M,17051.0,NaN,28
177,6.70,6.81,6.52,5.39,7.00,241,M,17052.0,NaN,28

In [11]:
df.describe()

,1st,2nd,3rd,4th,5th,College Code,Roll,Roll no.,Subject Code
count,176.000000,174.000000,176.00000,173.000000,172.000000,178.000000,132.000000,46.000000,178.000000
mean,7.038864,6.943391,6.62250,7.027746,7.432558,152.983146,17040.666667,17042.500000,18.359551
std,0.859521,0.881088,0.91926,1.035675,1.068866,48.357599,13.622874,13.422618,4.782849
min,3.850000,3.900000,3.96000,4.290000,4.000000,115.000000,17017.000000,17020.000000,16.000000
25%,6.440000,6.380000,6.14000,6.330000,6.750000,115.000000,17029.000000,17031.250000,16.000000
50%,7.070000,6.800000,6.68500,7.070000,7.590000,116.000000,17040.000000,17042.500000,16.000000
75%,7.590000,7.612500,7.26000,7.860000,8.210000,165.000000,17051.000000,17053.750000,16.000000
max,9.150000,9.210000,9.59000,9.310000,9.460000,241.000000,17067.000000,17065.000000,28.000000

In [12]:
df.isnull().sum()

1st               2
2nd               4
3rd               2
4th               5
5th               6
College Code      0
Gender            1
Roll             46
Roll no.        132
Subject Code      0
dtype: int64

In [15]:
avg_1st_marks=df['1st'].astype('float64').mean(axis=0)
avg_2nd_marks=df['2nd'].astype('float64').mean(axis=0)
avg_3rd_marks=df['3rd'].astype('float64').mean(axis=0)
avg_4th_marks=df['4th'].astype('float64').mean(axis=0)
avg_5th_marks=df['5th'].astype('float64').mean(axis=0)

In [17]:
print("Average Marks of 1st: ",avg_1st_marks)
print("Average Marks of 2nd: ",avg_2nd_marks)
print("Average Marks of 3rd: ",avg_3rd_marks)
print("Average Marks of 4th: ",avg_4th_marks)
print("Average Marks of 5th: ",avg_5th_marks)

Average Marks of 1st:  7.038863636363637
Average Marks of 2nd:  6.943390804597701
Average Marks of 3rd:  6.6225
Average Marks of 4th:  7.027745664739886
Average Marks of 5th:  7.432558139534884

In [18]:
df['1st'].replace(np.nan , avg_1st_marks , inplace=True)
df['2nd'].replace(np.nan , avg_2nd_marks , inplace=True)
df['3rd'].replace(np.nan , avg_3rd_marks , inplace=True)
df['4th'].replace(np.nan , avg_4th_marks , inplace=True)
df['5th'].replace(np.nan , avg_5th_marks , inplace=True)

In [19]:
df.head()

,1st,2nd,3rd,4th,5th,College Code,Gender,Roll,Roll no.,Subject Code
0,8.11,7.68,7.11,7.43,8.18,115,Female,NaN,17020.0,16
1,6.48,5.90,4.15,4.29,4.96,115,Male,NaN,17021.0,16
2,8.41,8.24,7.52,8.25,7.75,115,Female,NaN,17022.0,16
3,7.33,6.83,6.33,6.79,6.89,115,Male,NaN,17023.0,16
4,7.89,7.34,7.22,7.32,7.46,115,Male,NaN,17024.0,16

In [20]:
df.isnull().sum()

1st               0
2nd               0
3rd               0
4th               0
5th               0
College Code      0
Gender            1
Roll             46
Roll no.        132
Subject Code      0
dtype: int64

In [21]:
max_1st=df['1st'].max()
max_2nd=df['2nd'].max()
max_3rd=df['3rd'].max()
max_4th=df['4th'].max()
max_5th=df['5th'].max()

In [22]:
print('Max 1st:',max_1st)
print('Max 2nd:',max_2nd)
print('Max 3rd:',max_3rd)
print('Max 4th:',max_4th)
print('Max 5th:',max_5th)

Max 1st: 9.15
Max 2nd: 9.21
Max 3rd: 9.59
Max 4th: 9.31
Max 5th: 9.46

In [23]:
cgpa_col=['1st','2nd','3rd','4th','5th']

In [24]:
max_values=[max_1st,max_2nd,max_3rd,max_4th,max_5th]

In [25]:
for col,max_val in zip(cgpa_col,max_values):
  df[col+'_percentage']=(df[col]/max_val)*100

In [26]:
print(df)

      1st   2nd   3rd   4th   5th  College Code  Gender     Roll  Roll no.  \
0    8.11  7.68  7.11  7.43  8.18           115  Female      NaN   17020.0
1    6.48  5.90  4.15  4.29  4.96           115    Male      NaN   17021.0
2    8.41  8.24  7.52  8.25  7.75           115  Female      NaN   17022.0
3    7.33  6.83  6.33  6.79  6.89           115    Male      NaN   17023.0
4    7.89  7.34  7.22  7.32  7.46           115    Male      NaN   17024.0
..    ...   ...   ...   ...   ...           ...     ...      ...       ...
173  7.48  7.55  7.67  7.39  8.65           241       F  17048.0       NaN
174  7.30  6.41  6.59  7.11  7.38           241       M  17049.0       NaN
175  6.30  6.28  5.89  5.71  6.50           241       M  17050.0       NaN
176  7.04  7.10  6.81  7.00  6.92           241       M  17051.0       NaN
177  6.70  6.81  6.52  5.39  7.00           241       M  17052.0       NaN

     Subject Code  1st_percentage  2nd_percentage  3rd_percentage  \
0              16       88.633880       83.387622       74.139729
1              16       70.819672       64.060803       43.274244
2              16       91.912568       89.467970       78.415016
3              16       80.109290       74.158523       66.006257
4              16       86.229508       79.695983       75.286757
..            ...             ...             ...             ...
173            28       81.748634       81.976113       79.979145
174            28       79.781421       69.598263       68.717414
175            28       68.852459       68.186754       61.418144
176            28       76.939891       77.090119       71.011470
177            28       73.224044       73.941368       67.987487

     4th_percentage  5th_percentage
0         79.806660       86.469345
1         46.079484       52.431290
2         88.614393       81.923890
3         72.932331       72.832981
4         78.625134       78.858351
..              ...             ...
173       79.377014       91.437632
174       76.369495       78.012685
175       61.331901       68.710359
176       75.187970       73.150106
177       57.894737       73.995772

[178 rows x 15 columns]

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   1st             178 non-null    float64
 1   2nd             178 non-null    float64
 2   3rd             178 non-null    float64
 3   4th             178 non-null    float64
 4   5th             178 non-null    float64
 5   College Code    178 non-null    int64
 6   Gender          177 non-null    object
 7   Roll            132 non-null    float64
 8   Roll no.        46 non-null     float64
 9   Subject Code    178 non-null    int64
 10  1st_percentage  178 non-null    float64
 11  2nd_percentage  178 non-null    float64
 12  3rd_percentage  178 non-null    float64
 13  4th_percentage  178 non-null    float64
 14  5th_percentage  178 non-null    float64
dtypes: float64(12), int64(2), object(1)
memory usage: 21.0+ KB

In [28]:
df['Gender'].replace(np.nan,'M', inplace=True)

In [29]:
df.isnull().sum()

1st                 0
2nd                 0
3rd                 0
4th                 0
5th                 0
College Code        0
Gender              0
Roll               46
Roll no.          132
Subject Code        0
1st_percentage      0
2nd_percentage      0
3rd_percentage      0
4th_percentage      0
5th_percentage      0
dtype: int64

In [30]:
df.head()

,1st,2nd,3rd,4th,5th,College Code,Gender,Roll,Roll no.,Subject Code,1st_percentage,2nd_percentage,3rd_percentage,4th_percentage,5th_percentage
0,8.11,7.68,7.11,7.43,8.18,115,Female,NaN,17020.0,16,88.633880,83.387622,74.139729,79.806660,86.469345
1,6.48,5.90,4.15,4.29,4.96,115,Male,NaN,17021.0,16,70.819672,64.060803,43.274244,46.079484,52.431290
2,8.41,8.24,7.52,8.25,7.75,115,Female,NaN,17022.0,16,91.912568,89.467970,78.415016,88.614393,81.923890
3,7.33,6.83,6.33,6.79,6.89,115,Male,NaN,17023.0,16,80.109290,74.158523,66.006257,72.932331,72.832981
4,7.89,7.34,7.22,7.32,7.46,115,Male,NaN,17024.0,16,86.229508,79.695983,75.286757,78.625134,78.858351